{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}
    <!-- Section-->
    <section class="pb-5">
        <div class="container px-4 px-lg-5 bg-white rounded-5 shadow">
            <div class="text-center pt-5">
                <h2>Checkout form</h2>
            </div>
            <div class="row g-5">
                <div class="col-md-6 col-lg-4 order-md-last">
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-primary">Your cart</span>
                        <span class="badge bg-primary rounded-pill">{{ request.session.cart_items_count }}</span>
                    </h4>
                    <ul class="list-group mb-3">
                        {% for item in cart_items %}
                            <li class="list-group-item d-flex justify-content-between lh-sm">
                                <div>
                                    <h6 class="my-0">{{ item.product.name }}</h6>
                                    <small class="text-body-secondary">{{ item.size }}</small>
                                </div>
                                <div class="mx-5">
                                    {{ item.quantity }}
                                </div>
                                <span class="text-body-secondary">
                                    {% if item.product.is_on_sale %}
                                        <span style="color: red;">&euro;{{ item.product.sale_price|floatformat:2 }}</span>
                                        <br>
                                        <span class="text-decoration-line-through">&euro;{{ item.product.price|floatformat:2 }}</span>
                                    {% else %}
                                        &euro;{{ item.product.price|floatformat:2 }}
                                    {% endif %}
                                </span>
                            </li>
                        {% endfor %}
                        <li class="list-group-item d-flex justify-content-between">
                            <span>Total: </span>
                            <strong>&euro;{{ total_price|floatformat:2 }}</strong>
                        </li>
                    </ul>
                    <div class="d-flex justify-content-end">
                        <a href="{% url 'cart_summary' %}" class="btn btn-success">Go to cart</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-8">
                    <h4 class="mb-3">Shipping address</h4>
                    <form method="post" action="{% url 'cart_checkout' %}" class="needs-validation" novalidate>
                        {% csrf_token %}
                        <div class="row g-3">
                            {% for field in form %}
                                <div class="col-sm-{% if forloop.counter < 4 %}6{% elif forloop.counter == 4 %}12{% elif forloop.counter <= 8 %}4{% endif %}">
                                    <div class="form-floating">
                                        {{ field|placeholder:field.label }}
                                        <label for="{{ field.name }}">{{ field.label }}</label>
                                    </div>
                                    <div class="bg-danger text-white rounded">{{ field.errors }}</div>
                                </div>
                                {% if field.name == 'phone_number' %}
                                    <div class="col-sm-6">
                                        <div class="form-floating">
                                            <input type="email" class="form-control" id="email"
                                                   placeholder="" disabled value="{{ request.user }}">
                                            <label for="email">Email address</label>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <hr class="my-4">
                        <h4 class="mb-3">Payment</h4>
                        <div class="my-3">
                            <div class="form-check">
                                <input id="credit" name="paymentMethod" type="radio" class="form-check-input"
                                       checked required>
                                <label class="form-check-label" for="credit">At delivery</label>
                            </div>
                        </div>
                        <hr class="my-4">
                        <button class="w-100 btn btn-primary btn-lg mb-4" type="submit">Finalize Purchase</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}